apscheduler
cryptography
django==2.2.6
django-cors-headers
django-apscheduler
furl
jinja2
scrapy>=1.4.0
scrapy-redis
scrapy-splash
python-scrapyd-api
redis
requests>=2.20.0
pymongo
pymysql
pyquery
beautifulsoup4
djangorestframework
websocket
pyppeteer
